<div class="header">

  <div>
    <button routerLink="/jobs">Jobs</button>

  </div>

  <div>

    <!-- <form #searchForm="ngForm" (ngSubmit)="searchJob(searchForm)">

      <input class="form-control"

        type="text"

        [(ngModel)]="searchBy"

        name="searchBy"

        placeholder="Search for job by skills"/>

    </form> -->

  </div>

  <div>

    <button routerLink="/profile">Profile</button>

    <button>Log Out</button>

    <button routerLink="/login">Log In</button>

  </div>

</div>
